.input_box {
    display: flex;
    flex-direction: column;
    label {
        font-size: 1rem;
        font-weight: 600;
        color: #555;
        margin-bottom: .5rem;
    }
    input {
        height: 48px;
        border: 1px solid #ededed;
        border-radius: 8px;
        background: #FAFBFF;
        padding: .75rem;
        &:focus {
            border: 1px solid var(--main);
            outline: 0;
        }
    }
}