@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
:root {
  --main: #8000ff;
}

a {
  color: inherit;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 40px !important;
  color: #8000ff;
}
@media (max-width: 720px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}
